<!DOCTYPE html>
<html data-ng-app="app">
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <base href="/">

  <title>KALE_APP_NAME</title>

  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/vendor.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/application.css">
</head>

<body>
  <div data-ui-view></div>

  <script type="text/javascript" src="/assets/javascripts/vendor.js"></script>
  <script type="text/javascript" src="/assets/javascripts/application.js"></script>
</body>
</html>
