<header class="header">
  <nav class="nav">
    <div class="nav-left">
      <a class="nav-item is-brand" data-ui-sref="home.show">
        KALE_APP_NAME
      </a>
    </div>

    <div class="nav-center">
      <a class="nav-item" href="https://github.com/kalejs/kale">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
      </a>
      <a class="nav-item" href="https://twitter.com/mattyven">
        <span class="icon">
          <i class="fa fa-twitter"></i>
        </span>
      </a>
    </div>

    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>

    <div class="nav-right nav-menu">
      <a class="nav-item" data-ui-sref="home.show">
        Home
      </a>

      <span class="nav-item">
        <a class="button is-primary" href="https://github.com/kalejs/kale">
          <span class="icon">
            <i class="fa fa-book"></i>
          </span>
          <span>Documentation</span>
        </a>
      </span>
    </div>
  </nav>
</header>
